* {
    margin: 0;
    padding: 0;
    color: #333333;
    font-family: sans-pro-regular, sans-serif;
    box-sizing: border-box;
}

div {
    display: block;
    unicode-bidi: isolate;
}

figure {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
    unicode-bidi: isolate;
}

.user-logged {
    width: 100%;
    text-align: center;
}

.photo {
    width: 10em;
    height: 10em;
    margin-top: -5em;
    border-radius: 200px;
    border: solid 5px #ffffff;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

figure img {
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0 0;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}
.user-logged {
    width: 100%;
    text-align: center;
}

.user-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.5em;
    margin-bottom: 1em;
}

.container-info {
    width: 100%;
}

.name {
    width: 100%;
    align-items: center;
    margin-top: 0.5em;
    padding: 0 1em;
    position: relative;
}

.name p {
    font-weight: bold;
    font-size: 22px;
    text-align: center;
    text-transform: full-width;
}

.description {
    width: 100%;
    margin: 1em 0;
    padding: 0 1em;
    text-align: center;
    position: relative;
}

.description p {
    padding-top: 0.2em;
    height: 1.8em;
    text-align: center;
}

.edit {
    width: 1.7em;
    height: 1.7em;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 0.4em;
}

