*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', 'sans-serif';
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f2f5;
}
.body-post{
    padding: 15px 20px;
    word-wrap: break-word;
}
.container {
    max-width: 100%;
    margin: auto;
    padding: 20px;
}

.hide{
    display:none;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #8C52FF;
    color: white;
    padding: 10px 20px;
}

.imp-links a, .shortcut-links a{
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    color: black;
    width: fit-content;
}
.imp-links a img{
    width: 25px;
    margin-right: 15px;
}
.imp-links a:last-child{
    color: #ffffff;
}
.imp-links{
  border-bottom: 1px solid #ccc;
}
.shortcut-links a img{
    width: 40px;
    border-radius: 4px;
    margin-right: 15px;
}
.shortcut-links p{
        margin: 25px 0;
        color:  #fffdfd;
        font-weight: 500;
}
.logo {
    font-size: 24px;
    font-weight: bold;
}
.icono{
    height: 42px;
    width: 42px;

}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to right, #5e92f3, #8a53e9);
    padding: 5px 5%;
    position: sticky;
    top: 0;
    z-index: 100;
}
.logo{
    width: 160px;
    margin-right: 45px;
}
.barra{
    display: flex;
    justify-content: space-between;
}
.nav-left{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-right{
    display: flex;
}
.nav-items,
.nav-right1 {
    display: flex;
    list-style-type: none;
    padding-left: 0;
}
.nav-items li,
.nav-right1 li {
    margin: 0 10px; /* Espacio proporcional entre los elementos */
}
.nav-user-icon img{
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
}
.nav-user-icon{
    margin-left: 30px;

}.online{
    position: relative;
}
.online::after{
    content: '';
    width: 7px;
    height: 7px;
    border: 2px solid #fff;
    border-radius: 50%;
    background-color: #41db51;
    position: absolute;
    top: 0;
    right: 0;
}

.main-content {
    display: flex;
    margin-top: 20px;
    margin: 0 10px;          /* Margen lateral entre los elementos */
    box-sizing: border-box;
}

.sidebar {
    width: 25%;
    background:linear-gradient(to right, #5e92f3, #6783F0) ;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-right: 20px;
    margin-left: 0;  
}

.profile {
    text-align: center;
}

.profile img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.friends ul {
    list-style: none;
    padding: 0;
}

.friends li {
    padding: 5px 0;
}

main {
    background: linear-gradient(to right, #6783F0, #796AEC);
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 0 10px;          /* Margen lateral entre los elementos */
    box-sizing: border-box;
    width: 60%;
}

.camera{
    height: 29px;
    width: 40px;
}

.cameraPrivacity, .privacidad{
    display: flex; 
    align-items: center;
}
.privacidad{
    border-radius: 10px;
    color: beige;
    outline: none;
}
.create-post {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    gap: 10px;
}

.create-post textarea {
    width: 100%;    
    height: 60px;
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: 10px;
    outline: none;
}

.create-post button,
.boton{
    margin-top: 10px;
    background: #ebdc0d;
    color: rgb(66, 59, 59);
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.container2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    align-items: center;

}
.container{
    display: flex;             /* Habilita Flexbox */
    justify-content: space-between; /* Distribuye el espacio entre elementos */
}


.placeholder{
    outline: none;
}

.right-content{
    flex-basis: 20%;
    width: 15%;
    position: sticky;
    top: 70px;
    align-self: flex-start;
    background: linear-gradient(to right, #796AEC, #8a53e9);
    margin: 0 10px;          /* Margen lateral entre los elementos */
    box-sizing: border-box;
    margin-right: 0;  
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 15px;  
}

/*Aqui el css del post de la publiación*/
.post-container,
.seccionComentarios {
    width: 90%;
    max-width: 600px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin: 20px;
  }

  /* Cabecera de la publicación */
  .post-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ccc;
  }

  .user-info {
    margin-left: 10px;
  }

  .user-info h3 {
    margin: 0;
    font-size: 16px;
    color: #333;
  }

  .user-info span {
    font-size: 12px;
    color: #777;
  }

  /* Contenido de la publicación */
  .post-content {
    margin: 15px 0;
    font-size: 15px;
    color: #444;
    line-height: 1.4;
  }

  /* Reacciones */
  .post-reactions {
    display: flex;
    align-items: center;
    border-top: 1px solid #e0e0e0;
    margin-top: 10px;
    padding-top: 10px;
  }

  .reaction {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #555;
    margin-right: 15px;
    cursor: pointer;
  }

  .reaction img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }

  /* Iconos de reacción */
  .icon-heart {
    color: #e0245e;
  }

  .icon-comment {
    color:  #0095f6;
  }

  .seccionComentarios{
    display: flex;
    flex-direction: column;
  }
  .comentario-formulario{
    display: flex;
    flex-direction: column;
  }
  .comentario-formulario textarea{
    outline: none;
  }

  button{
    border: none;
    background-color: transparent;
  }
/*Aqui termina el css del post de la publicación*/

/*Empieza el css de aside(perfil)*/
div {
    display: block;
    unicode-bidi: isolate;
}

figure {
    display: block;
    margin-block-start: 5px;
    margin-block-end: 1em;
    margin-inline-start: 10px;
    margin-inline-end: 10px;
    unicode-bidi: isolate;
}

.user-logged {
    width: 100%;
    text-align: center;
}

.photo {
    width: 10em;
    height: 10em;
    margin-top: -5em;
    border-radius: 200px;
    border: solid 5px #ffffff;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

figure img {
    width: 100%;
    height: 100%;
    border-radius: 8px 8px 0 0;
}

.user-logged {
    width: 100%;
    text-align: center;
}

.user-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.5em;
    margin-bottom: 1em;
}

.container-info {
    width: 100%;
}

.name {
    width: 100%;
    align-items: center;
    margin-top: 0.5em;
    padding: 0 1em;
    position: relative;
}

.name p {
    font-weight: bold;
    font-size: 22px;
    text-align: center;
    text-transform: full-width;
}

.description {
    width: 100%;
    margin: 1em 0;
    padding: 0 1em;
    text-align: center;
    position: relative;
}

.description p {
    padding-top: 0.2em;
    height: 1.8em;
    text-align: center;
}

.edit {
    width: 1.7em;
    height: 1.7em;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 0.4em;
}
.botones{
    display: flex;
    flex-direction: row-reverse;
    align-items: end;
    background-color: none;
    gap: 10px;
}
.borrar,
.editar{
    border: 2px solid rgb(66, 61, 61);
    border-radius: 10px;
    padding: 5px;
    background-color: rgb(255, 230, 230);
}
